.container{
    width: 950px;
    background-color: silver;
    margin: 0px 0px 0px;
    padding: 20px 20px 20px 20px;
}
.top-nav {
    height: 130px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    vertical-align: sub;
    background-color: blue;
    /* margin-left: 10px; */
    margin-top: 20px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    margin-left: 25.3%;
    margin-top: -31.6%;
    padding-left: 10px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin-top:5%;
    margin-left: 10px;
}